<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<servlet>
    <servlet-name>myproject</servlet-name>
    <servlet-class>myproject.MyprojectServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>myproject</servlet-name>
    <url-pattern>/myscript/*</url-pattern>
</servlet-mapping>
<listener>
    <listener-class>myproject.MyprojectServletListener</listener-class>
</listener>
<context-param>
    <param-name>config.filename</param-name>
    <param-value>C:/Users/greet_000/Documents/NetBeansProjects/Tutojava/web/WEB-INF/myscript.json</param-value>
</context-param>
<context-param>
    <param-name>jdbc.type</param-name>
    <param-value>org.sqlite.JDBC</param-value>
</context-param>
    <jsp-config>
    <jsp-property-group>
        <url-pattern>*.html</url-pattern>
    </jsp-property-group>
    </jsp-config>
</web-app>