<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix ="c" %>
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administrative Pages</title>
</head>
<body>
<h2>MYPROJECT</h2>

<h4>Welcome <em>${ARGS.login}</em>! 
You are role <em>${ARGS.g_role}</em>.
<a href='${ARGS.g_json_url}'>JSON View</a>
<a href="logout">LOGOUT</a></h4><h3>Updated</h3></body></html>